
<div class="px-3">
    <h1>Lily Beach Resort,Maldives</h1>
    <div class="d-flex flex-row justify-content-between">
        <div>
             <span class="bt">Maldives</span>
        </div>
        <div class="d-flex px-3 flex-row align-items-center">
            <div class="d-flex px-3 flex-row align-items-center">
                <i class="zero px-2 fa fa-twitter" aria-hidden="true"></i>
                <span class="bt" >Share</span>
            </div>
            <div class="d-flex px-3 flex-row align-items-center">
                <i class="zero px-2 fa fa-heart" aria-hidden="true"></i>
                <span class="bt" >Like</span>
            </div>
            
        </div>
        {{!-- <div class="d-flex px-3 flex-row align-items-center">
            <i class="zero px-2 fa fa-heart" aria-hidden="true"></i>
            <span class="bt" >Save</span>
        </div> --}}
       
        
    </div>
    <div class="hero_section ">
    <div class="d-flex flex-row main flex-wrap justify-content-evenly ">
    
<div class="contain">
    <Site::Image
        src={{@booking.img}} alt="Maldives" 
     />
</div>
    </div>
    </div>

    <div class="head d-flex flex-row justify-content-between">
        <div class="first">
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div>
                <h1>Dome Rented By Ayushi</h1>
            <p>3 Guests.1 Bedroom.1 Bed.1 Bathroom</p>
            </div>
            
            <div>
                <i class="icon fa-solid fa-hotel"></i>
            </div>
            </div>
            <hr>

            <div class="d-flex flex-column">
                <div class="d-flex pb-3 flex-row align-items-center">
                <i class="px-4 fas fa-swimming-pool"></i>
                <div class="d-flex flex-column">
                <h3>Dive Right In</h3>
                <p>This is one of the few places with pool in the area</p>
                </div>
                </div>

                <div class="d-flex flex-row align-items-center">
                <i class="px-4 fa fa-star" aria-hidden="true"></i>
                <div class="d-flex flex-column">
                <h3>Experienced Host</h3>
                <p>She has 757 reviews for other places</p>
                </div>
                </div>
                
            </div>
            </div>


        <div class="second p-4 d-flex flex-column justify-content-evenly align-items-center">
            <div class="pb-3">
                <h3>Rs. 14145 per night</h3>
            </div>
            
            <div class="d-flex flex-row ">  
                <div class="third">
                    <label>Check In</label>
                    <p>8/5/2022</p>
                </div>
                <div class="third">
                    <label>Check In</label>
                    <p>8/5/2022</p>
                </div>
                
            </div>

            <div class="d-flex flex-column align-items-center">
                <button type="submit" class="btn btn-warning">Reserve</button>
                <span class="bt">You won't be charged yet</span>
            </div>

            <div class="d-flex flex-row justify-content-between">
                <div>
                    <span class="bt">Rs.14,145 * 3 nights = </span>
                </div>
                <div>
                    <p>Rs.42,435</p>
                </div>
                
                
            </div>
        </div>

    </div>
    </div>



{{!-- <div class="hero_section ">
    <div class="d-flex flex-row main flex-wrap justify-content-evenly ">
    
<div class="contain">
    <Site::Image
        src={{@booking.img}} alt="Maldives" 
     />
     
    <div class="contain_body d-flex ps-2 flex-row align-items-start justify-content-between">
        <div>
        <div class="head d-flex flex-row align-items-center ">
             <h2>{{@booking.name}} </h2>
             <h2>{{@icon.name}}</h2>
        </div>
        
        <p>{{@booking.distance}}           
            <br>
            {{@booking.date}}
            <br>
            <b>{{@booking.price}}</b> per night
        </p>
        </div>
        <div class="side d-flex flex-row align-items-center">
        <i class="star p-0 fa fa-star" aria-hidden="true"></i>
        <p class="m-0 me-3 ms-2 p-0">New</p>
        </div>

    </div>
    </div>
   
    </div>
</div> --}}
            
        

        

        