<div class='hero_section'>
  <div class='d-flex flex-row main flex-wrap justify-content-evenly'>
    {{#each @booking as |booking|}}
      <div class='contain'>
        <Site::Image src={{booking.img}} alt='Maldives' />
        {{!-- <div class="contain_head">
        <img class="img-fluid location" src={{booking.img}} alt="Maldives" >
        <i class="heart fa fa-heart" aria-hidden="true"></i>
    </div> --}}
        <div
          class='contain_body d-flex ps-2 flex-row align-items-start justify-content-between'>
          <div>
            <div class='head d-flex flex-row align-items-center'>
              <LinkTo class="linked" @route='room' @model={{booking.id}}><h2
                >{{booking.name}}</h2></LinkTo>
              <h2>{{@icon.name}}</h2>
            </div>

            <p>{{booking.distance}}
              <br />
              {{booking.date}}
              <br />
              <b> $ {{booking.price}}</b>
              per night
            </p>
          </div>
          <div class='side d-flex flex-row align-items-center'>
            <i class='star p-0 fa fa-star' aria-hidden='true'></i>
            <p class='m-0 me-3 ms-2 p-0'>New</p>
          </div>

        </div>
      </div>
    {{/each}}
  </div>
</div>