<div>
        <div class="head d-flex flex-row align-items-center ">
             <h2>{{@booking.name}} </h2>
             <h2>{{@icon.name}}</h2>
        </div>
        
        <p>{{@booking.distance}}           
            <br>
            {{@booking.date}}
            <br>
            <b>{{@booking.price}}</b> per night
        </p>
</div>