{{page-title "Index"}}
<Main />

<Site @booking={{this.model}} @icon={{this.model}}/>
{{!-- {{#each @model as |property|}}
      <li><Site @booking={{property}} /></li>
{{/each}} --}}
{{!-- {{#each @model as |booking|}}
      <li><Site @booking={{booking}} /></li>
    {{/each}} --}}

{{outlet}}